@font-face {
    font-family: Inter-light;
    src: url(../fonts/Inter_18pt-Light.ttf);
}

@font-face {
    font-family: Inter-bold;
    src: url(../fonts/Inter_18pt-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter-light;
}

:root{
    --color-blue: #5166ee;
    --color-white: #e6e6e6;
    --color-blue-light: #E1EAFE;
    --color-text: #0d0d0e;
    --font-size-title: 50px;
    --font-size-subtitle: 20px;
    --font-size-text: 15px;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
    --gap-sm: 50px;
    --gap-md: 75px;
    --gap-lg: 100px;
 
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-white);
    color: var(--color-text);
}

.hero{
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: var(--gap-md) var(--gap-lg);
    gap: var(--gap-md);
    
    
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: var(--spacing-lg);
}
h1{
    font-family: Inter-bold;
    font-size: var(--font-size-title);
}
h2{
    font-size: var(--font-size-subtitle);
}

.hero-content p{
    text-align: justify;
    width: 100%;
    font-size: var(--font-size-text);
    text-wrap: balance;

}

.buttons{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: var(--spacing-lg);
    gap: var(--spacing-lg);
    
}

.btn-1{
    display: flex;
    padding: var(--spacing-md);
    background-color: var(--color-blue);
    border: 2px solid var(--color-blue);
    text-decoration: none;
    color: var(--color-white);
    transition: .5s;
}

.btn-1:hover{
    background-color: var(--color-white);
    color: var(--color-blue);
}

.btn-2{
    display: flex;
    border: 2px solid var(--color-blue);
    padding: var(--spacing-md);
    text-decoration: none;
    color: var(--color-blue);
    transition: .5s;
}

.btn-2:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: var(--gap-md);
}

.hero-image img{
    width: 100%;
    border-radius: var(--spacing-lg);
}

.areas-impacto{
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--gap-md);
    gap: var(--spacing-sm);
}

.areas-container{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: var(--gap-lg);
    gap: var(--gap-sm);
    
}

.card{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue-light);
    gap: var(--spacing-md);
    text-wrap: balance;
    height: 450px;
}
.card h2{
    margin-top: var(--spacing-md);
}
.card p{
    margin-top: var(--spacing-md);
    font-size: var(--font-size-text);
}
.card img{
    width: 100%;
}

.contexto{
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--gap-md) var(--gap-lg);
    gap: var(--gap-md);
}

.contexto-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-lg);
}

.contexto-content p{
    text-align: justify;
    width: 100%;
    text-wrap: balance;
    font-size: var(--font-size-text);
}

.contexto-list{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.contexto-list li{
    margin: var(--spacing-md);
}
.contexto-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: var(--gap-md);
}
.contexto-image img{
    width: 100%;
    border-radius: var(--spacing-lg);
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-text);
    color: var(--color-white);
    height: 100px;
}